/* @import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

* {
  -fx-font-family: sans-serif;
  /* -fx-font-family: "Public Sans", sans-serif; */
  -fx-text-fill: #484b6a;
}

.navbar {
  -fx-background-color: #fafafa;
  -fx-background-radius: 0;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
  -fx-pref-height: 42;
  -fx-font-size: 12;
}

.container {
  -fx-background-color: #fafafa;
  -fx-background-radius: 0;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
  -fx-pref-height: 42;
  -fx-font-size: 12;
}

.sidebar {
  -fx-background-color: #fafafa;
  -fx-background-insets: -1 -5 -1 -1;
  -fx-background-radius: 0 16 8 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 16, 0.05, 4, 8);
}

.topbar {
  -fx-background-color: linear-gradient(
    to bottom,
    derive(cadetblue, 20%),
    cadetblue
  );
  -fx-background-insets: 0 0 12 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 12, 0.04, 2, 2);
}
